body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
    background-image: url("123.jpg");
    color: #fff;
    padding: 10px;
    padding-bottom: 50px;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
section {
    margin: 20px 0;
}
article {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    height: 150px;
}

#article1{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("002.jpg");
    padding: 2% 5% ;
    margin-left: 10%;
    margin-right: 5%;
    flex: 1;
}

#article1:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("002.jpg");
}
/*flex:1 比例 1 : 1 */
#article2{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("一堆書.jpg");
    padding: 2% 5%;
    margin-right: 10%;
    margin-left: 5%;
    flex: 1;
}

#article2:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("一堆書.jpg");
}

.line0{
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
    box-shadow: 0 5px 5px 0;
}

.line1{
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
}

.line2{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

.line3{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}


#article3{
    padding: 2% 5%;
    margin-left: 10%;
    margin-right: 5%;
    flex:1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("CTF.jpg");
}
#article3:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("CTF.jpg");
}

#article4{
    padding: 2% 5%;
    margin-right: 10%;
    margin-left: 5%;
    flex:1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("太空人.jpg");
    
}

#article4:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("太空人.jpg");
}

a{
    text-decoration: none;
}

#article5{
    padding: 2% 5%;
    margin-left: 10%;
    margin-right: 5%;
    flex:1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("004.jpg");
}
#article5:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("004.jpg");
}

#article6{
    padding: 2% 5%;
    margin-right: 10%;
    margin-left: 5%;
    flex:1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("001.jpg");
    
}

#article6:hover{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.423)), url("001.jpg");
}

#head{
    margin-left: 10%;
    margin-right: 5%;
}

